:root {
    --color1: #000000;
    --color2: #ff8830;
    --color3: #d1b8a0;
    --color4: #aeced2;
    --color5: #cbdcdf;
    
    --font-roboto:'Roboto', sans-serif;
    --font-vt: 'VT323', monospace;
}

html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color2);
    font-family: var(--font-roboto);
}

body {
    background-color: var(--color1);
}

header {
    text-align: center;
    font-family: var(--font-vt);
    border-bottom: 2px solid var(--color3);
    font-size: 1.3rem;
}

header h1 span {
    color: var(--color3);
    text-decoration: underline;
}